<div class="row ">
  <div class="col-xl-4 mt-4 cart d-flex ms-5 align-content-center align-items-center">
    <img src="{{global.urlPath}}{{singleProduct?.data.img}}" class="w-25" alt="...">
<div>
    <h4>{{singleProduct?.data.title}}</h4>
    <p>{{singleProduct?.data.description}}</p>
    <p>${{singleProduct?.data.price}}</p>
    <button class="btn small" (click)="deleteHandle()">Delete</button>
    <button class="btn small ms-2">Edit</button>
</div>
  </div>
  <div class="col-xl-4">

  </div>
</div>
