
<div class="row justify-content-center">
  <div class="col-6">
    <table class="table border mt-5 border-dark addProduct">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products ;let i =index">
        <th scope="row">{{i+1}}</th>
        <td>{{product.title}}</td>
        <td>
          <button class="btn btn-success me-3 btn-sm" routerLink="/singleProduct/{{product._id}}">Show  more</button>
          <button class="btn btn-success me-3 btn-sm" routerLink="/editProduct/{{product._id}}">Edit </button>
          <button class="btn btn-success me-3 btn-sm" routerLink="/editPicProduct/{{product._id}}">Edit Pic of product</button>
        <button class="btn btn-danger btn-sm" (click)="deleteHandle(product._id,i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
