<div class=" p-3  ">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <div class="profile">
<img src="{{global.urlPath}}{{userData.image}}" class="img" alt="">

<h3>{{userData.name}}</h3>
    </div>
    <button class="nav-link item" id="v-pills-home-tab" routerLink="/category" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">All Category</button>

    <button class="nav-link item"  id="v-pills-profile-tab" data-bs-toggle="pill" routerLink="/home" data-bs-target="#v-pills-profile" type="button" role="tab" routerLink="/allProduct" aria-selected="false">All products</button>
    <button class="nav-link item" id="v-pills-settings-tab" data-bs-toggle="pill"   data-bs-target="#v-pills-settings" type="button" role="tab" routerLink="/editPic/{{userData._id}}" aria-selected="false">Edit ProfilePic </button>

    <button class="nav-link item" id="v-pills-settings-tab" data-bs-toggle="pill" routerLink="/editCustomerData/{{userData._id}}"  data-bs-target="#v-pills-settings" type="button" role="tab"  aria-selected="false">Settings</button>

  </div>


</div>
