<div class="container w-25 mt-5 addProduct"  >
  <form #addUser="ngForm" (ngSubmit)="AddUser(addUser)">
    <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input type="text" placeholder="name" name="name" #name class="form-control" id="name" #title="ngModel" [(ngModel)]="userData.name" required>
   <div class="alert alert-danger" *ngIf="addUser.submitted && name.oninvalid" >
          name is required
   </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input type="text" placeholder="name" name="name" #name class="form-control" id="password" #title="ngModel" [(ngModel)]="userData.password" required>
   <div class="alert alert-danger" *ngIf="addUser.submitted && name.oninvalid" >
          password is required
   </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">email</label>
      <input type="text" placeholder="email" name="email" #email class="form-control" id="email" #title="ngModel" [(ngModel)]="userData.email" required>
   <div class="alert alert-danger" *ngIf="addUser.submitted && email.oninvalid" >
          email is required
   </div>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">age</label>
      <input type="text" placeholder="age" name="age" #name class="form-control" id="age" #title="ngModel" [(ngModel)]="userData.age" required>
   <div class="alert alert-danger" *ngIf="addUser.submitted && name.oninvalid" >
          age is required
   </div>
    </div>

    <button type="submit" class="btn-product d-flex m-auto">Submit</button>
  </form>
  </div>
